In [61]:
import pandas as pd

In [62]:
game_files = [
    'AuthorizedAttendanceReportCsv_Round 2_ Hapoel Tel Aviv 🚗.csv',
    'AuthorizedAttendanceReportCsv_Round 4_ Hapoel Holon 🏠.csv',
    'AuthorizedAttendanceReportCsv_Round 8_ Hapoel Afula 🏠.csv',
    'AuthorizedAttendanceReportCsv_🏠 מחזור 9_ הפועל ״בנק יהב״ ירושלים -הפועל גליל עליון.csv',
    'AuthorizedAttendanceReportCsv_🏠 מחזור11_ הפועל ״בנק יהב״ ירושלים -מכבי ת"א.csv',
    'AuthorizedAttendanceReportCsv_ליגת ווינר סל מחזור 17_ גלבוע גליל 🏠.csv',
    'AuthorizedAttendanceReportCsv_ליגת ווינר סל מחזור 18_ הרצליה 🏠 .csv',
    'AuthorizedAttendanceReportCsv_ליגת ווינר סל מחזור 20_ הפועל חיפה 🏠.csv',
    'AuthorizedAttendanceReportCsv_מחזור 22_ אליצור עירוני נתניה 🏠.csv',
    'AuthorizedAttendanceReportCsv_מחזור 24_ הפועל באר שבע - דימונה 🏠.csv',
    'AuthorizedAttendanceReportCsv_מחזור 26_ עירוני נס ציונה 🏠.csv',
    'AuthorizedAttendanceReportCsv_רבע גמר 1_ מכבי  עירוני רמת גן 🏠.csv',
    'AuthorizedAttendanceReportCsv_רבע גמר 3_ מכבי  עירוני רמת גן 🏠.csv',
    'AuthorizedAttendanceReportCsv_חצי גמר משחק 2_ הפועל תל אביב 🏠.csv'
]

columns_needed = [
    'assign using  ID number',
    'Gender', 'Age', 'Email',
    'First name', 'Last name',
    'STRefID',
    'City',
    'Stand', 'Area',
    'Row', 'Number', 'Price area',
    'Price type', 'Price paid', 'Phone No.',
    'Discount rule'
]

dfs = []
for file in game_files:
    df = pd.read_csv(file)
    # Select only the columns you need (ignore missing columns)
    df = df[[col for col in columns_needed if col in df.columns]]
    dfs.append(df)

all_games_df = pd.concat(dfs, ignore_index=True)

# Save to one CSV file
# all_games_df.to_csv('all_games_attendance.csv', index=False)

In [63]:
all_games_df

,assign using ID number,Gender,Age,Email,First name,Last name,STRefID,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Phone No.,Discount rule
0,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,גלריה,גלריה 12,7,329,D,Complementary,0.0,NaN,NaN
1,43552660,Female,42.0,einatth@gmail.com,עינת,מידן-דוד,827424.0,לפיד,אולם,12 אולם,15,9,D,Adult,0.0,0544997453,NaN
2,236546305,Unknown,1.0,NaN,נועם,אהרוני,NaN,NaN,גלריה,גלריה 1,8,40,E,Adult,75.0,NaN,NaN
3,43467760,Male,43.0,idomedan@gmail.com,עדו,מידן דוד,NaN,לפיד,אולם,אולם 1 עמידה,H,23,F,Complementary,0.0,0544997453,NaN
4,215015306,Unknown,20.0,NaN,עילי,שליו,NaN,NaN,אולם,אולם 1 עמידה,E,22,F,Adult,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80483,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,גלריה,גלריה 1,7,7,E,ילד,65.0,NaN,NaN
80484,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,גלריה,גלריה 1,11,22,E,מבוגר,90.0,NaN,NaN
80485,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,גלריה,גלריה 1,7,6,E,מבוגר,90.0,NaN,NaN
80486,231426115,Male,51.0,test5@roboticket.help,five,test,NaN,חי,אולם,אולם 9,21,1,Silver Up,VIP,0.0,0500101000,NaN
80487,43467752,Male,34.0,hj@hapoel.co.il,הפועל,ירושלים,NaN,ירושלים,אולם,אולם 1 עמידה,9,8,F,VIP,0.0,0504777032,NaN

In [64]:
all_games_df = all_games_df['STRefID'].notna()

In [65]:
all_games_df['Discount rule'].unique()

KeyError: 'Discount rule'

In [60]:
discount_rules = [
    '232 - מילואים',
    '769 - הנחת סטודנטים',
    '766 - מילואים',
    '768 - הנחת חיילים',
    '828 - הנחת חיילים',
    '826 - מילואים',
    '762 - הנחת חיילים',
    '760 - מילואים',
    '398 - הנחת חיילים',
    '199 - שירות לאומי',
    '34 - חיילים בסדיר',
    '265 - סטודנטים',
    '232 - מילואים'
]

all_games_df = all_games_df[all_games_df['Discount rule'].isin(discount_rules)]

KeyError: 'Discount rule'

In [43]:
all_games_df

,assign using ID number,Gender,Age,Email,First name,Last name,STRefID,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Phone No.,Discount rule
2757,318167921,Male,27.0,guyhavi@gmail.com,גיא,חביליו,NaN,ירושלים,אולם,אולם 2,12,9,B,Adult (renew),1240.0,0537550099,232 - מילואים
2767,60738424,Male,43.0,hagayr82@gmail.com,חגי,רוזן,NaN,צור הדסה,אולם,אולם 1 עמידה,9,31,C,Adult (renew),840.0,0507266006,232 - מילואים
2781,24600462,Male,55.0,alontzigler@gmail.com,אלון,ציגלר,NaN,כפר סבא,אולם,אולם 2,12,5,B,Adult (renew),1395.0,0547057887,265 - סטודנטים
2803,27353010,Male,50.0,ipaldor@mail.huji.ac.il,איתי,פלדור,NaN,ירושלים,אולם,אולם 1 עמידה,5,31,C,Adult (renew),840.0,0542110223,232 - מילואים
2812,206882912,Male,27.0,yehudaxh@gmail.com,יהודה,הריס,NaN,ירושלים,אולם,אולם 6,22,43,D,Adult,560.0,0508637714,232 - מילואים
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,35804556,Male,22.0,kalireem@gmail.com,ראם,כאלי,NaN,ירושלים,אולם,אולם 10,21,15,B,מבוגר,157.5,0547342462,768 - הנחת חיילים
80005,213644594,Male,22.0,chaggaivandam@gmail.com,חגי,ואן דאם,NaN,ירושלים,אולם,אולם 8,19,11,B,מבוגר,157.5,0548842003,768 - הנחת חיילים
80006,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,אולם,אולם 8,19,10,B,מבוגר,157.5,NaN,768 - הנחת חיילים
80159,326152410,Male,22.0,dazriel9@gmail.com,דניאל,עזריאל,NaN,ירושלים,גלריה,גלריה 1,6,1,E,מבוגר,81.0,0549954567,768 - הנחת חיילים
80461,326384518,Male,21.0,bnaya.hazani@gmail.com,בניה,חזני,NaN,מודיעין-מכבים-רעות,גלריה,גלריה 1,7,21,E,מבוגר,81.0,0584084081,768 - הנחת חיילים

In [45]:
all_games_df['Full Name'] = all_games_df['First name'] + ' ' + all_games_df['Last name']

all_gamess_df = all_games_df[['Full Name', 'assign using  ID number', 'Gender','Age', 
                              'Email', 'Phone No.', 'City', 'Stand', 
                              'Area', 'Row', 'Number', 'Price area', 
                              'Price type', 'Price paid', 'Discount rule']]

all_gamess_df

/var/folders/nt/lqq9984n7p3fpfvd92swmw280000gn/T/ipykernel_2480/1631024281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_games_df['Full Name'] = all_games_df['First name'] + ' ' + all_games_df['Last name']

,Full Name,assign using ID number,Gender,Age,Email,Phone No.,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Discount rule
2757,גיא חביליו,318167921,Male,27.0,guyhavi@gmail.com,0537550099,ירושלים,אולם,אולם 2,12,9,B,Adult (renew),1240.0,232 - מילואים
2767,חגי רוזן,60738424,Male,43.0,hagayr82@gmail.com,0507266006,צור הדסה,אולם,אולם 1 עמידה,9,31,C,Adult (renew),840.0,232 - מילואים
2781,אלון ציגלר,24600462,Male,55.0,alontzigler@gmail.com,0547057887,כפר סבא,אולם,אולם 2,12,5,B,Adult (renew),1395.0,265 - סטודנטים
2803,איתי פלדור,27353010,Male,50.0,ipaldor@mail.huji.ac.il,0542110223,ירושלים,אולם,אולם 1 עמידה,5,31,C,Adult (renew),840.0,232 - מילואים
2812,יהודה הריס,206882912,Male,27.0,yehudaxh@gmail.com,0508637714,ירושלים,אולם,אולם 6,22,43,D,Adult,560.0,232 - מילואים
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,ראם כאלי,35804556,Male,22.0,kalireem@gmail.com,0547342462,ירושלים,אולם,אולם 10,21,15,B,מבוגר,157.5,768 - הנחת חיילים
80005,חגי ואן דאם,213644594,Male,22.0,chaggaivandam@gmail.com,0548842003,ירושלים,אולם,אולם 8,19,11,B,מבוגר,157.5,768 - הנחת חיילים
80006,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,אולם,אולם 8,19,10,B,מבוגר,157.5,768 - הנחת חיילים
80159,דניאל עזריאל,326152410,Male,22.0,dazriel9@gmail.com,0549954567,ירושלים,גלריה,גלריה 1,6,1,E,מבוגר,81.0,768 - הנחת חיילים
80461,בניה חזני,326384518,Male,21.0,bnaya.hazani@gmail.com,0584084081,מודיעין-מכבים-רעות,גלריה,גלריה 1,7,21,E,מבוגר,81.0,768 - הנחת חיילים

In [51]:
all_gamess_df = all_gamess_df.drop_duplicates()
all_gamess_df

,Full Name,assign using ID number,Gender,Age,Email,Phone No.,City,Stand,Area,Row,Number,Price area,Price type,Price paid,Discount rule
2757,גיא חביליו,318167921,Male,27.0,guyhavi@gmail.com,0537550099,ירושלים,אולם,אולם 2,12,9,B,Adult (renew),1240.0,232 - מילואים
2767,חגי רוזן,60738424,Male,43.0,hagayr82@gmail.com,0507266006,צור הדסה,אולם,אולם 1 עמידה,9,31,C,Adult (renew),840.0,232 - מילואים
2781,אלון ציגלר,24600462,Male,55.0,alontzigler@gmail.com,0547057887,כפר סבא,אולם,אולם 2,12,5,B,Adult (renew),1395.0,265 - סטודנטים
2803,איתי פלדור,27353010,Male,50.0,ipaldor@mail.huji.ac.il,0542110223,ירושלים,אולם,אולם 1 עמידה,5,31,C,Adult (renew),840.0,232 - מילואים
2812,יהודה הריס,206882912,Male,27.0,yehudaxh@gmail.com,0508637714,ירושלים,אולם,אולם 6,22,43,D,Adult,560.0,232 - מילואים
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79987,ראם כאלי,35804556,Male,22.0,kalireem@gmail.com,0547342462,ירושלים,אולם,אולם 10,21,15,B,מבוגר,157.5,768 - הנחת חיילים
80005,חגי ואן דאם,213644594,Male,22.0,chaggaivandam@gmail.com,0548842003,ירושלים,אולם,אולם 8,19,11,B,מבוגר,157.5,768 - הנחת חיילים
80006,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,אולם,אולם 8,19,10,B,מבוגר,157.5,768 - הנחת חיילים
80159,דניאל עזריאל,326152410,Male,22.0,dazriel9@gmail.com,0549954567,ירושלים,גלריה,גלריה 1,6,1,E,מבוגר,81.0,768 - הנחת חיילים
80461,בניה חזני,326384518,Male,21.0,bnaya.hazani@gmail.com,0584084081,מודיעין-מכבים-רעות,גלריה,גלריה 1,7,21,E,מבוגר,81.0,768 - הנחת חיילים

In [52]:
all_gamess_df.to_excel('all_games_attendance.xlsx', index=False)