In [8]:
import pandas as pd
import numpy as np

In [9]:
products = pd.read_csv('products.csv')

In [10]:
# Rename columns
products = products.rename(columns={
    'Product Id': 'ProductId',
    'Product': 'ProductName',
    'Date.1': 'ProductDate'
})

# Add missing columns
new_columns = ['Season ID', 'StadiumId', 'ProductType']

for col in new_columns:
    if col not in products.columns:
        products[col] = None

# Reorder columns
desired_columns = ['ProductId', 'Season ID', 'ProductName', 'ProductType', 'ProductDate', 'StadiumId']
for col in desired_columns:
    if col not in products.columns:
        products[col] = None
products = products[desired_columns]

# Set default values
products['Season ID'] = 25
products['ProductType'] = 'Merchndise'

products = products.drop_duplicates(subset='ProductName')

# New row as a dictionary
new_row = {
    'ProductId': 62,
    'Season ID': 25,
    'ProductName': 'מנוי לעונת 2025/2026',
    'ProductType': 'SeasonTicket',
    'ProductDate': '2025-06-05',
    'StadiumId': 1
}

# Convert the dict to a DataFrame
new_row_df = pd.DataFrame([new_row])

# Concatenate
products = pd.concat([products, new_row_df], ignore_index=True)

products

,ProductId,Season ID,ProductName,ProductType,ProductDate,StadiumId
0,1063,25,פרסום: דף העסקים של הפועל 2025/26,Merchndise,2025-06-10,None
1,62,25,מנוי לעונת 2025/2026,SeasonTicket,2025-06-05,1

In [11]:
# tickets = pd.read_excel('tickets2425.xlsx')

In [12]:
# # 1. Extract only relevant columns from tickets
# match_info = tickets[['Product ID' ,'Asset Name', 'Season ID', 'Product Date']]

# # 2. Keep only the first occurrence per unique 'Asset Name'
# match_info = match_info.drop_duplicates(subset='Asset Name')

# # 3. Rename to match products column names
# match_info = match_info.rename(columns={
#     'Asset Name': 'ProductName',
#     'Product Date': 'ProductDate',
#     'Product ID': 'ProductId'
# })

# # 4. Add fixed values
# match_info['ProductType'] = 'Match'
# match_info['StadiumId'] = 1

# # 6. Reorder columns to match `products` table
# # Ensure this order matches the actual structure of your products DataFrame
# match_info = match_info[['ProductId', 'Season ID', 'ProductName', 'ProductType', 'ProductDate', 'StadiumId']]

# # 7. Concatenate into products
# products = pd.concat([products, match_info], ignore_index=True)

# products

In [13]:
# vouchers = pd.read_csv('vouchers.csv')

In [14]:
# # 1. Extract only relevant columns from tickets
# vouchers_info = vouchers[['Product Id' ,'Product', 'Date.1']]

# # 2. Keep only the first occurrence per unique 'Asset Name'
# vouchers_info = vouchers_info.drop_duplicates(subset='Product')

# # 3. Rename to match products column names
# vouchers_info = vouchers_info.rename(columns={
#     'Product': 'ProductName',
#     'Date.1': 'ProductDate',
#     'Product Id': 'ProductId'
# })

# vouchers_info['ProductDate'] = pd.to_datetime(vouchers_info['ProductDate'], dayfirst=True).dt.date

# # 4. Add fixed values
# vouchers_info['ProductType'] = 'Voucher'
# vouchers_info['StadiumId'] = 1
# vouchers_info['Season ID'] = 24

# # 6. Reorder columns to match `products` table
# # Ensure this order matches the actual structure of your products DataFrame
# vouchers_info = vouchers_info[['ProductId', 'Season ID', 'ProductName', 'ProductType', 'ProductDate', 'StadiumId']]

# # 7. Concatenate into products
# products = pd.concat([products, vouchers_info], ignore_index=True)

# products

In [15]:
products.to_excel('products2526.xlsx')